.book {
  padding: 1.7rem 1rem;
  font-family: 'nanum';
  font-size: 1.5rem;
}

h1 {
  /* font-family: 'nunito'; */
  font-size: 2rem;
  color: #404142;
}
p {
  font-family: Nanum_Myeongjo;
  padding-top: 1.2rem;
  color: #404142;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.gallery {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.gallery {
  padding-top: 1.5rem;
}

.gallery__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery__list li {
  padding: 1rem;
}
